{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تیک دان</title>

    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    <script
      src="https://kit.fontawesome.com/63c4b57529.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body dir="rtl">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-col">
        <div class="container mx-auto text-center">
          <h1 class="text-9xl font-black text-primary">404</h1>
          <h1 class="text-2xl font-extralight text-primary">Page Not Found</h1>
          <h1 class="text-lg font-extralight">
            متاسفانه صفحه مورد نظرتون پیدا نشد ＞﹏＜
          </h1>
        </div>
      </div>
    </div>
  </body>
</html>
