{% load static %}
{% load pwa %}

<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {% progressive_web_app_meta %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>تیک دان</title>
    
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    <link rel="stylesheet" href="{% static 'jalalidatepicker.min.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      src="https://kit.fontawesome.com/63c4b57529.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body dir="rtl">
    {% block nav %} {% endblock nav %}
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'jalalidatepicker.min.js' %}"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <!-- dark mode -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var checkbox = document.querySelector("input[name=theme]");

        // Set initial theme
        if (
          localStorage.getItem("theme") === "dark" ||
          localStorage.getItem("theme") === null
        ) {
          document.body.setAttribute("data-theme", "dark");
          checkbox.checked = true;
        }
        if (localStorage.getItem("theme") === "light") {
          document.body.setAttribute("data-theme", "light");
          checkbox.checked = false;
        }

        // Toggle theme on click
        checkbox.addEventListener("click", function () {
          if (document.body.getAttribute("data-theme") === "dark") {
            document.body.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light");
          } else {
            document.body.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
          }
        });
      });
    </script>
    <!-- date picker -->
    <script>
      jalaliDatepicker.startWatch({
        hasSecond: "False",
        minDate: "attr",
        persianDigits: "True",
        autoReadOnlyInput: "True",
        separatorChars: {
          date: "-",
        },
      });
    </script>
    <!-- crossing out tasks -->
    <script>
      $('input[name^="task"]').each(function () {
        const checkbox = $(this);
        const td = checkbox.closest("tr").find("span"); // get the corresponding <td> element

        $(document).ready(function () {
          if (checkbox.is(":checked")) {
            td.addClass("line-through");
            td.addClass("italic");
            td.addClass("opacity-50");
          }
        });
        checkbox.change(function () {
          if (checkbox.is(":checked")) {
            td.addClass("line-through");
            td.addClass("italic");
            td.addClass("opacity-50");
          } else {
            td.removeClass("line-through");
            td.removeClass("italic");
            td.removeClass("opacity-50");
          }
        });
      });
    </script>
    <!-- set text area height -->
    <script>
      $(document).ready(function () {
        var textarea = document.querySelector("textarea[name=description]");
        textarea.style.height = "";
        textarea.style.height = textarea.scrollHeight + "px";
      });
    </script>
    <!-- task complete -->
    <script>
      const checkboxes = document.querySelectorAll('input[name="task"]');

      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", () => {
          const taskId = checkbox.value;
          const complete = checkbox.checked;

          fetch(`/task/${taskId}/${complete}/complete`)
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              Toastify({
                text: "تغییرات ذخیره شد",
                duration: 2000,
                gravity: "bottom", // `top` or `bottom`
                position: "center", // `left`, `center` or `right`
                style: {
                  background: "#36d399",
                  color: "#003420",
                },
              }).showToast();
            })
            .catch((error) => {
              console.error(error);
              Toastify({
                text: "ذخیره سازی تغییرات با مشکل مواجه شد",
                duration: 2000,
                gravity: "bottom", // `top` or `bottom`
                position: "center", // `left`, `center` or `right`
                style: {
                  background: "#f87272",
                  color: "#530808"
                },
              }).showToast();
            });
        });
      });
    </script>
    <!-- persian numbers -->
    <script>
      persian = { 0: '۰', 1: '۱', 2: '۲', 3: '۳', 4: '۴', 5: '۵', 6: '۶', 7: '۷', 8: '۸', 9: '۹' };
      $(".persian-digit").each(function () {
        for (var i = 0; i <= 9; i++) {
          var re = new RegExp(i, "g");
          $(this).html($(this).html().replace(re, persian[i]));
        }
      });
    </script>
    <!-- persian month and days -->
    <script>
      $(".persian-word").each(function () {
        $(this).html($(this).html().replace('Saturday', 'شنبه'));
        $(this).html($(this).html().replace('Sunday', 'یکشنبه'));
        $(this).html($(this).html().replace('Monday', 'دوشنبه'));
        $(this).html($(this).html().replace('Tuesday', 'سه شنبه'));
        $(this).html($(this).html().replace('Wednesday', 'چهارشنبه'));
        $(this).html($(this).html().replace('Thursday', 'پنجشنبه'));
        $(this).html($(this).html().replace('Friday', 'جمعه'));
        $(this).html($(this).html().replace('Farvardin', 'فروردین'));
        $(this).html($(this).html().replace('Ordibehesht', 'اردیبهشت'));
        $(this).html($(this).html().replace('Khordad', 'خرداد'));
        $(this).html($(this).html().replace('Tir', 'تیر'));
        $(this).html($(this).html().replace('Mordad', 'مرداد'));
        $(this).html($(this).html().replace('Shahrivar', 'شهریور'));
        $(this).html($(this).html().replace('Mehr', 'مهر'));
        $(this).html($(this).html().replace('Aban', 'آبان'));
        $(this).html($(this).html().replace('Azar', 'آذر'));
        $(this).html($(this).html().replace('Dey', 'دی'));
        $(this).html($(this).html().replace('Bahman', 'بهمن'));
        $(this).html($(this).html().replace('Esfand', 'اسفند'));
      });
    </script>
    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
    <label for="my-modal-4" class="modal cursor-pointer">
      <label class="modal-box relative text-center" for="">
        <svg
        id="Layer_1"
        class="h-16 w-16 mx-auto"
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1000 1000"
      >
        <defs>
          <style>
            .cls-1 {
              fill: #a6adbb;
            }
            .cls-2 {
              fill: #00bf96;
            }
          </style>
        </defs>
        <path
          class="cls-1"
          d="M657.58,90.46H338.64c-137.89,0-250,112.16-250,250.05v112A123.84,123.84,0,0,1,195.35,329.77c5.51-74.2,67.68-132.93,143.29-132.93H657.58a142.33,142.33,0,0,1,47.32,8l50-50a124.14,124.14,0,0,1,36.66-25.4A248.65,248.65,0,0,0,657.58,90.46ZM801.26,459.1V659.46c0,79.22-64.46,143.67-143.68,143.67H338.64C259.42,803.13,195,738.68,195,659.46V610.32l-70.13-70.13a123.64,123.64,0,0,1-36.24-87.65V659.46c0,137.89,112.16,250.08,250.05,250.08H657.58c137.89,0,250.08-112.19,250.08-250.08V352.69Z"
        />
        <path
          class="cls-2"
          d="M900.28,280.08a68.76,68.76,0,0,1-9,11.13l-90,90-330.07,330a68.81,68.81,0,0,1-97.38,0L195,532.42l-31.18-31.18a68.86,68.86,0,1,1,97.37-97.4L422.49,565.17,793.85,193.81a68.88,68.88,0,0,1,106.43,86.27Z"
        />
      </svg>
    
    <span class="text-primary font-black text-xl">تیک دان</span>
      </br>
      <p dir="ltr" class="font-extralight mt-5">
        made with <i class="bi bi-heart-fill" style="color: #00bf96;"></i> and a lot of <i class="bi bi-cup-hot-fill" style="color: #00bf96;"></i> by
    </p>
    
    <h1 class="text-2xl font-medium mb-1">Moein Hedayati</h1>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 698.68 236.69" class="fill-base-content"
          alt="caloriecounter" loading="lazy" width="150" height="20" style="display: block;
                              margin: auto">
          
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_2-2" data-name="Layer 2">
              <path class="cls-3"
                d="M580.34,0h-187L281.11,194.8H119v0h-1.64a76.45,76.45,0,0,1,1-152.89H256.59L231.93,85,218.8,107.94h48.26L328.79,0H119.87c-.51,0-1,0-1.53,0-1,0-2.1,0-3.15.05h0l-2.58.1c-1.73.09-3.44.21-5.15.36s-3.4.34-5.08.57A118.43,118.43,0,0,0,5.71,82Q4.16,86.7,3,91.61a.38.38,0,0,0,0,.1c-.67,2.87-1.22,5.75-1.66,8.68a118.24,118.24,0,0,0-1.36,18c0,.92,0,1.83,0,2.73,0,.54,0,1.1.05,1.64.06,1.38.12,2.73.22,4.09.06.76.11,1.51.19,2.25a.33.33,0,0,0,0,.14c.09.83.17,1.66.26,2.47a1.73,1.73,0,0,0,0,.32c.08.73.17,1.46.27,2.17,0,.24.07.49.1.73.1.73.21,1.45.32,2.18q.44,2.59.94,5.14c.35,1.72.74,3.45,1.18,5.16s.9,3.36,1.39,5c.25.83.51,1.66.78,2.47.59,1.85,1.24,3.68,1.93,5.49a118.36,118.36,0,0,0,109.13,76.33,4.57,4.57,0,0,0,.74,0c.26,0,.53,0,.78,0,.51,0,1,0,1.53,0H305.31L417.56,41.89H580.34a76.46,76.46,0,0,1,0,152.91H441.56l37.78-66.05H431.08L369.36,236.67h211.5A118.33,118.33,0,0,0,580.34,0Z" />
            </g>
          </g>
        </svg>
    
  </br>
    <a class="text-3xl" href="https://github.com/Moein-HDi"><i class="bi bi-github" style="color: #00bf96;"></i></a>
  
      </label>
    </label>
  
    <input type="checkbox" id="my-modal-6" class="modal-toggle" />
  <label for="my-modal-6" class="modal cursor-pointer">
    <label class="modal-box relative" for="">
      <h3 class="text-xl font-bold">حمایت مالی</h3>
      <p class="py-4">استفاده از این پروژه کاملا رایگان است 😊 اما در صورتی که تمایل داشته باشید می توانید به مقدار دلخواه از آن حمایت کنید✨</p>
      <a href="https://idpay.ir/moein-hedayati"><button class="btn btn-success">پرداخت از طریق آیدی پی</button></a>
    </label>
  </label>
  </body>
</html>
