{% load static %}
<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>تیک دان</title>

    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    <link rel="stylesheet" href="{% static 'jalalidatepicker.min.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      src="https://kit.fontawesome.com/63c4b57529.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
  </head>
  <body dir="rtl">
    {% block nav %} {% endblock nav %}
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'jalalidatepicker.min.js' %}"></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <!-- dark mode -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var checkbox = document.querySelector("input[name=theme]");

        // Set initial theme
        if (
          localStorage.getItem("theme") === "dark" ||
          localStorage.getItem("theme") === null
        ) {
          document.body.setAttribute("data-theme", "dark");
          checkbox.checked = true;
        }
        if (localStorage.getItem("theme") === "light") {
          document.body.setAttribute("data-theme", "light");
          checkbox.checked = false;
        }

        // Toggle theme on click
        checkbox.addEventListener("click", function () {
          if (document.body.getAttribute("data-theme") === "dark") {
            document.body.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light");
          } else {
            document.body.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
          }
        });
      });
    </script>
    <!-- date picker -->
    <script>
      jalaliDatepicker.startWatch({
        minDate: "attr",
        persianDigits: "True",
        autoReadOnlyInput: "True",
        separatorChars: {
          date: "-",
        },
      });
    </script>
    <!-- crossing out tasks -->
    <script>
      $('input[name^="task"]').each(function () {
        const checkbox = $(this);
        const td = checkbox.closest("tr").find("span"); // get the corresponding <td> element

        $(document).ready(function () {
          if (checkbox.is(":checked")) {
            
            td.addClass("italic");
            td.addClass("opacity-50");
          }
        });
        checkbox.change(function () {
          if (checkbox.is(":checked")) {
            
            td.addClass("italic");
            td.addClass("opacity-50");
          } else {
            
            td.removeClass("italic");
            td.removeClass("opacity-50");
          }
        });
      });
    </script>
    <!-- set text area height -->
    <script>
      $(document).ready(function () {
        var textarea = document.querySelector("textarea[name=description]");
        textarea.style.height = "";
        textarea.style.height = textarea.scrollHeight + "px";
      });
    </script>
    <!-- task complete -->
    <script>
      const checkboxes = document.querySelectorAll('input[name="task"]');

      checkboxes.forEach((checkbox) => {
        checkbox.addEventListener("change", () => {
          const taskId = checkbox.value;
          const complete = checkbox.checked;

          fetch(`/task/${taskId}/${complete}/complete`)
            .then((response) => response.json())
            .then((data) => {
              console.log(data);
              Toastify({
                text: "تغییرات ذخیره شد",
                duration: 2000,
                gravity: "bottom", // `top` or `bottom`
                position: "center", // `left`, `center` or `right`
                style: {
                  background: "#36d399",
                  color: "#003420",
                },
              }).showToast();
            })
            .catch((error) => {
              console.error(error);
              Toastify({
                text: "ذخیره سازی تغییرات با مشکل مواجه شد",
                duration: 2000,
                gravity: "bottom", // `top` or `bottom`
                position: "center", // `left`, `center` or `right`
                style: {
                  background: "#f87272",
                  color: "#530808"
                },
              }).showToast();
            });
        });
      });
    </script>
    <!-- persian numbers -->
    <script>
      persian = { 0: '۰', 1: '۱', 2: '۲', 3: '۳', 4: '۴', 5: '۵', 6: '۶', 7: '۷', 8: '۸', 9: '۹' };
      $(".persian-digit").each(function () {
        for (var i = 0; i <= 9; i++) {
          var re = new RegExp(i, "g");
          $(this).html($(this).html().replace(re, persian[i]));
        }
      });
    </script>
  </body>
</html>
