{% extends 'base.html' %} {% block content %}
<div class="text-slate-300 text-2xl font-black mb-3"><i class="fa-solid fa-chalkboard-user text-primary ml-2"></i> کلاس های امروز</div>
<div class="mb-3 p-5 text-center justify-center text-lg font-semibold text-slate-600">
    امروز هیچ کلاسی نداری ;)
</div>
<div class="divider"></div>
<div class="text-slate-300 text-2xl font-black mb-3"><i class="fa-solid fa-list-check text-primary ml-2"></i> کار های امروز</div>
<div class="mb-3 p-5 text-center justify-center text-lg font-semibold text-slate-600">
    امروز هیچ کاری نداری ^_^
</div>

{% endblock content %}
