{% extends 'navs.html' %}
{% block content %}

      
          <div class="text-xl lg:text-2xl font-black text-center text-primary">ویرایش لیست</div>
          <div class="divider"></div>
          <form method="post">
            {% csrf_token %}
            <span class="text-error">{{ form.non_field_errors }}</span>
            <div class="form-control">
              <label class="label" for="id_name">
                <span class="label-text">عنوان لیست:</span>
              </label>
              <input
                type="text"
                class="input input-bordered"
                name="name"
                value="{{ current_list.name }}"
                maxlength="25"
                required
                id="id_name"
              />
              <span class="text-error">{{ form.name.errors }}</span>
            </div>
            
            <div class="form-control mt-6">
              <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
            </div>
          </form>
       
  
  {% endblock content %}