{% extends 'navs.html' %}
{% block content %}

      
          <div class="text-xl lg:text-2xl font-black text-center text-error">خطا در ساخت لیست</div>
          <div class="divider"></div>
          <div class="persian-digit text-lg font-bold text-center">            در حال حاضر امکان ساخت بیشتر از 10 لیست برای هر کاربر وجود نداره (T_T)
        </div>

            <div class="form-control mt-6">
              <a href="{% url 'home' %}"><button class="btn w-full btn-primary">متوجه شدم</button></a>
            </div>
          </form>
        
  
  {% endblock content %}