{% extends 'navs.html' %} {% block content %}
<div>
  <div class="absolute z-50 bottom-7 left-7 h-16 w-16">
    <a href="{% url 'task_new' current_list.pk %}?next={{ request.path }}" class="btn btn-circle btn-lg btn-primary shadow">
      <i class="fa-solid fa-plus text-3xl"></i>
    </a>
  </div>

  <div class="overflow-x-auto">
    <table class="table-compact w-full">
      <tbody>
        <!-- row 1 -->

        <tr>
          <td>
            <div class="text-xl lg:text-2xl font-black">
              <i class="fa-solid fa-bars text-primary ml-2"></i>
              {{current_list.name }}
            </div>
          </td>
          <th class="text-end">
            <a
              href="{% url 'list_update' current_list.pk %}?next={{ request.path }}"
              class="btn btn-square btn-ghost text-base lg:text-lg opacity-50"
              ><i class="fa-solid fa-pen-to-square"></i
            ></a>
            <a
              href="{% url 'list_delete' current_list.pk %}"
              class="btn btn-square btn-ghost text-base lg:text-lg opacity-50"
              ><i class="fa-solid fa-trash-can"></i
            ></a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="divider"></div>
  <div class="overflow-x-auto">
    <table class="table-compact w-full">
      <tbody>
        <!-- row 1 -->
        {% for task in Tasks %}
        <tr>
          <th class="w-1">
            <input
              type="checkbox"
              name="task"
              value="{{ task.pk }}" {% if task.completed %}checked{% endif %} class="checkbox checkbox-primary ml-4"
            />
          </th>
          <td class="text-start lg:text-base"><a class="block" href="{% url 'task_update' task.pk %}?next={{ request.path }}"><span class="font-bold text-base">{{ task.name }}</span>{% if task.description %}</br><span class="text-xs opacity-50">{{ task.description|slice:":40" }}...</span>{% endif %}</a></td>
          <th class="text-end">
            <div class="flex-none lg:text-base text-primary font-semibold">
              2 روز
            </div>
          </th>
        </tr>
        {% empty %}
        <div
          class="mb-3 p-5 text-center justify-center text-lg font-semibold opacity-20"
        >
          هیچ کاری توی این لیست وجود نداره</br>(°ー°〃)
        </div>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
