{% extends 'navs.html' %} {% block content %}


    <div class="text-xl lg:text-2xl font-black text-center">
      کار جدید در <span class="persian-digit text-primary">{{ current_list.name }}</span>
    </div>
    <div class="divider"></div>
    <form method="post">
      {% csrf_token %}
      
      <div class="form-control">
        <label class="label" for="id_name">
          <span class="label-text">عنوان کار:</span>
        </label>
        <input
          type="text"
          class="input input-bordered"
          name="name"
          autofocus
          maxlength="25"
          required
          id="id_name"
        />
        
      </div>

      <div class="form-control">
        <label class="label" for="id_due_date">
          <span class="label-text">تاریخ:</span>
        </label>
        <input
          data-jdp
          data-jdp-min-date="today"
          class="input input-bordered"
          name="due_date"
          id="id_due_date"
        />
        
      </div>

      <div class="form-control">
        <label class="label" for="id_description">
          <span class="label-text">توضیحات:</span>
        </label>
        <textarea
          class="textarea textarea-bordered"
          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
          name="description"
          maxlength="200"
          id="id_description"
        ></textarea>
       
      </div>

      <div class="form-control mt-6">
        <button type="submit" class="btn btn-primary">اضافه کردن کار</button>
      </div>
    </form>
  

{% endblock content %}
