{% extends 'navs.html' %}
{% block content %}

      
          <div class="text-xl lg:text-2xl font-black text-center text-primary">حذف کار</div>
          <div class="divider"></div>
          <form method="post">
            {% csrf_token %}
            آیا از حذف کار <span class="text-primary font-semibold">"{{ current_task.name }}"</span> مطمئن هستید؟

            <div class="form-control mt-6">
              <button type="submit" value="Confirm" class="btn btn-error">بله مطمئنم، حذف شود</button>
            </div>
          </form>
        
  
  {% endblock content %}